<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  <ul>
    
    <h1>bienvenido a mi ecommerce</h1>


     <h1>No estas registrado?</h1>
  
     <a href="./views/register">registrate</a>   
  
<h1>Ya estas registrado</h1>

<a href="./views/login">ingresa </a>
   
  
  {{!-- {{#each payload}}
    <li>
        
      <h2>Nombre producto: {{product_title}}</h2>
      <p>thumbnail:{{product_thumbnail}}</p>
      <p>Precio: {{product_price}}</p>
      <p>Descripcion:{{product_description}}</p>
      <p>Code:{{product_code}}</p>
      <p>Stock:{{product_stock}}</p>
      <p>Category:{{product_vategory}}</p>

    </li>
  {{/each}} --}}

  
</ul>






    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>