<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Products</h1>
<ul>
    {{#each products}}
    <li>
        Title: {{this.title}} <div></div>
        Price: $ {{this.price}} <div></div>
        Description: {{this.description}} <div></div>
        Stock : {{this.stock}} <div></div>
        Code: {{this.code}} <div></div>
        ID NRO: {{this.id}} <div></div>
    </li>
    {{/each}}
</ul>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
</body>
</html>